#full-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.half {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
