body {
    font-weight: 300;
    line-height: 1.4em;
}

#full-body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.half {
    float: left;
    width: 50%;
    height: 100%;
}

h1 {
    font-weight: 500;
    font-size: 1.2em;
    color: $color-main-darker;
}
