#display {
    display: inline;
    max-height: 100vh;
    position: relative;
    .entry-content {
        position: relative;
        margin-right: 25px;
    }
    .container {
        margin-right: 7.5px;
        @media (max-width: 1000px) and (min-width:600px) {
            margin-right: 25px;
        }
        @media (max-width: 600px) {
            margin: 25px 0;
            padding: $padding-simple;
        }
    }
    .wrapper {}
    .bottom {
        width: 100%;
        order: 1;
        .bottom-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
}
