#display {
    display: inline;
    justify-content: flex-end;
    max-height: 100vh;
    overflow-y: scroll;
    .entry {
        margin-left: 50px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -25px;
            background-color: rgba(0, 0, 0, 0.35);
            display: block;
            width: 5px;
            height: 70%;
        }
        .entry-author {
            font-size: $font-size-small;
            margin-top: 15px;
            margin-left: 15px;
        }
    }
}
