#display {
    display: inline;
    justify-content: flex-end;
    max-height: 100vh;
    .entry-content {
        position: relative;
        margin-right: 15px;
    }
    .wrapper {
        margin-right: 7.5px;
        overflow-y: scroll;
    }
}
