.container {
    padding: $padding-border-page;
    margin: 25px;
    background-color: white;
    text-align: justify;
    height: calc(100vh - 100px);
    max-width: 100%;
    max-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
        margin: 25px 0;
        padding: $padding-simple;
    }
    .wrapper {
        display: none;
        flex-grow: 1;
        &.active {
            display: block;
        }
    }
    .line {
        margin-bottom: 15px;
    }
}
